// ----------------------------------------------
// Icon Size Style
// ----------------------------------------------

.min-width-40 {
  min-width: 40px !important;
}

.round-8 {
  width: 8px;
  height: 8px;
}

.round-16 {
  width: 16px;
  height: 16px;
}

.round-20 {
  width: 20px !important;
  height: 20px !important;
}

.round-32 {
  width: 32px;
  height: 32px;
}

.round-48 {
  width: 48px;
  height: 48px;
}

.round-56 {
  width: 56px;
  height: 56px;
}

.round-40 {
  width: 40px !important;
  height: 40px;
}

.round {
  width: 45px;
  height: 45px;
}

.round-sm {
  width: 35px;
  height: 35px;
}

.rounded-circle-shape{
  width: 56px;
  height: 40px;
}
.circle-shape{
  width: 18px;
  height: 10px;
}

.custom-tooltip {
  --bs-tooltip-bg: var(--bs-primary);
}