// 
// Header
// 
.topbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--bs-body-bg);
  z-index: 9;
  padding: 0 25px;
  .navbar {
    min-height: $headerHeight;
    .navbar-toggler:focus {
      box-shadow: none;
    }
    .navbar-nav {
      .dropdown-toggle::after {
        margin-left: 1.2em;
      }
      .dropdown-menu {
        position: absolute;
        min-width: 200px;
      }
      .nav-item {
        &.dropdown {
          .dropdown-menu-end {
            right: 0;
            left: auto;
            top: 100%;
          }
          &:hover {
            .nav-link {
              color: var(--bs-primary);
            }
            .dropdown-menu {
              display: block;
            }
          }
        }
        .nav-link {
          display: flex;
          align-items: center;
          line-height: $headerHeight;
          height: $headerHeight;
          padding: $linkSpacer;
          font-size: 14px;
          color: var(--bs-body-color);
          i {
            font-size: $linkFontSize;
          }
          &:hover {
            color: var(--bs-primary);
          }
        }
      }
    }
  }
}

.message-body {
  max-height: 360px;
}

.dropdown-menu-nav {
  min-width: 860px !important;
  width: 100%;
}

// notification badge
.notification {
  height: 16px;
  width: 16px;
  border-radius: 100%;
  line-height: 12px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 11px;
  top: 17px;
  border: 1px solid var(--bs-body-bg);
}

.dropdown-menu {
  @include media-breakpoint-up(md) {
    &.content-dd {
      width: $dropdown-width;
    }
  }
}

@include media-breakpoint-down(md) {
  .topbar {
    left: 0;
    .navbar-nav {
      .dropdown-menu {
        position: absolute;
        width: 100%;
      }
      .nav-item.dropdown {
        position: static;
      }
    }
  }
}

// Down LG Screen
@include media-breakpoint-down(xl) {
  .topbar .navbar .navbar-collapse {
    border-top: 1px solid var(--bs-border-color);
  }
}
