// 
// SideBar Style
// 
.side-mini-panel {
  position: fixed;
  left: 0px;
  width: $sidebar-width-mini;
  height: 100%;
  background: var(--bs-white);
  top: 0;
  border-right: 1px solid var(--bs-border-color);
  z-index: 99;
  transition: all 0.4s ease-in-out;

  .sidebartoggler {
    color: var(--bs-dark-text-emphasis);
  }

  .scroll-sidebar {
    overflow-y: auto;
    height: calc(100vh - 50px);

    .simplebar-track.simplebar-horizontal {
      visibility: hidden !important;
    }
  }

  // iconbar
  .mini-nav {
    height: 100vh;
    z-index: 99;
    position: relative;
    background: var(--bs-white);

    ul.mini-nav-ul {
      height: calc(100vh - 165px);
    }

    .mini-nav-item {
      > a {
        display: flex;
        width: 100%;
        font-size: 18px;
        text-align: center;
        color: var(--bs-body-color);
        position: relative;
        background: var(--bs-white);
        z-index: 99;
        height: 48px;
        margin-bottom: 4px;
        align-items: center;
        justify-content: center;

        iconify-icon {
          z-index: 2;
          position: relative;
          color: var(--bs-body-color);
        }

        &:hover {
          iconify-icon {
            color: var(--bs-primary);
          }

          &:before {
            content: "";
            background: var(--bs-primary-bg-subtle);
            width: 48px;
            height: 48px;
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            top: 2px;
            border-radius: 100%;
            z-index: 1;
          }
        }
      }

      &.selected > a {
        iconify-icon {
          color: var(--bs-primary);
        }

        &:before {
          content: "";
          background: var(--bs-primary-bg-subtle);
          width: 48px;
          height: 48px;
          display: block;
          position: absolute;
          left: 0;
          right: 0;
          margin: 0 auto;
          top: 2px;
          border-radius: 100%;
          z-index: 1;
        }
      }
    }
  }

  .sidebarmenu .sidebar-nav {
    position: absolute;
    height: 100%;
    width: $sidebar-width-full;
    background: var(--bs-white);
    top: 0px;
    transition: left 0.4s ease-in-out;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.03);
    left: $sidebar-width-mini;
    display: none;
    padding: 24px 16px;
    z-index: 98;
  }
}

.simplebar-scrollbar:before {
  background: rgba(0, 0, 0, 0.5) !important;
}

.brand-logo {
  min-height: calc(#{$headerHeight} + 16px);
  padding: 12px 16px;
  z-index: 99;
  position: relative;
}

.sidebar-divider {
  height: 1px;
  width: calc(100% - 18px);
  display: block;
  margin: 13px 0;
  margin-left: 9px;
  background-image: linear-gradient(
      90deg,
      transparent,
      transparent 50%,
      var(--bs-white) 50%,
      var(--bs-white) 100%
    ),
    linear-gradient(
      90deg,
      var(--bs-border-color),
      var(--bs-border-color),
      var(--bs-border-color),
      var(--bs-border-color),
      var(--bs-border-color)
    );
  background-size: 7px 3px, 100% 3px;

  &.lg {
    width: calc(100% - 32px);
    margin-left: 16px;
  }
}

// -----------------------------------
// Sidebar list
// -----------------------------------
.sidebar-nav {
  ul {
    .sidebar-item {
      .sidebar-link {
        display: flex;
        font-size: 15px;
        white-space: nowrap;
        align-items: center;
        line-height: 25px;
        position: relative;
        padding: 9px 16px;
        border-radius: 30px;
        gap: 15px;
        text-decoration: none;
        font-weight: $font-weight-normal;
        margin-bottom: 4px;

        span:first-child {
          display: flex;
        }

        iconify-icon {
          font-size: 18px;
        }

        .ti {
          flex-shrink: 0;
          font-size: 21px;
        }

        &:hover {
          color: var(--bs-primary);

          &.has-arrow::after {
            border-color: var(--bs-primary);
          }
        }
      }

      .sidebar-link.active {
        &:hover {
          &.has-arrow::after {
            border-color: var(--bs-primary);
          }
        }
      }

      .link-disabled {
        opacity: $link-disabled;
      }

      .first-level {
        .sidebar-item {
          transition: all 0.4s ease-in-out;
          border-bottom: 0;

          .icon-small {
            width: 6px;
            height: 6px;
            border-radius: 100%;
            background: var(--bs-body-color);
          }

          .sidebar-link {
            &:hover {
              background-color: transparent;
              color: var(--bs-primary);

              .icon-small {
                background: var(--bs-primary);
              }
            }
          }

          .sidebar-link.active {
            &.has-arrow::after {
              border-color: var(--bs-primary);
            }

            .icon-small {
              background: var(--bs-primary);
            }
          }

          & > .sidebar-link {
            padding: 8px 21px;
            font-size: 14px;
            gap: 21px;

            .sidebar-icon {
              flex-shrink: 0;
              margin-left: 12px;
              margin-right: 35px;
              width: 14px;
              height: 14px;
            }
          }

          &:last-child {
            margin-bottom: 16px;
          }
        }

        .sidebar-link {
          .ti {
            font-size: 7px;
          }
        }
      }

      .first-level {
        .sidebar-item {
          .sidebar-link.active {
            background-color: transparent !important;
            color: var(--bs-primary) !important;
          }
        }
      }

      .two-level {
        .sidebar-item {
          .sidebar-link {
            padding: 8px 10px 8px 45px;
          }
        }
      }

      .three-level {
        .sidebar-item {
          .sidebar-link {
            padding: 8px 10px 8px 60px;
          }
        }
      }

      &.selected > .sidebar-link.active,
      &.selected > .sidebar-link,
      > .sidebar-link.active {
        background-color: var(--bs-primary-bg-subtle);
        color: var(--bs-primary);
      }
    }

    .sidebar-item.selected {
      .sidebar-link.has-arrow {
        &::after {
          border-color: var(--bs-primary);
        }
      }
    }
  }
}

.nav-small-cap {
  font-size: 14px;
  font-weight: 600;
  padding: 7px 0;
  line-height: 26px;
  color: var(--bs-link-color);

  .nav-small-cap-icon {
    display: none;
  }
}

.collapse.in {
  display: block;
}

// -----------------------------------
// Sidebar Type : Minisidebar
// -----------------------------------

// About LG Screen
@include media-breakpoint-up(lg) {
  [data-layout="vertical"] {
    [data-sidebartype="mini-sidebar"] {
      .side-mini-panel .sidebarmenu .sidebar-nav {
        left: -$sidebar-width-full;
      }

      .side-mini-panel .sidebarmenu.hovermenus .sidebar-nav.left-none {
        left: 80px;
      }
    }
  }
}

// Down LG Screen
@include media-breakpoint-down(xl) {
  #main-wrapper {
    &.show-sidebar {
      .left-sidebar {
        left: 0;
      }
    }
  }

  .show-sidebar + .dark-transparent {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
  }

  .close-btn {
    width: 40px;
    height: 40px;
    position: absolute;
    right: -241px;
    top: 15px;
  }

  .side-mini-panel {
    left: -330px;
  }

  .show-sidebar {
    .side-mini-panel {
      left: 0;
    }
  }
}

@import "./sidebar-arrow";

.hover-border {
  transition-duration: 0.3s;
  transition-property: all;

  border: 1px dashed transparent;
  width: 40px;
  height: 40px;

  &:hover {
    border: 1px dashed var(--bs-primary);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
