// ----------------------------------------------
// Theme Variables Configration
// ----------------------------------------------

// header
$headerHeight: 70px;
$linkSpacer: 0 16px;
$linkFontSize: 20px;



// sidebar
$sidebar-link-padding: 12px 15px;
$sidebar-icon-size: 23px;
$sidebar-first-level-padding: 0 0 10px 0;
$sidebar-first-level-link-padding: 10px 15px;
$sidebar-first-level-icon-size: 14px;
$sidebar-width-full: 240px;
$sidebar-width-iconbar: 180px;
$sidebar-width-mini: 80px;
$sidebar-spacing-x: 24px 16px;
$link-disabled: 0.38;

$boxedWidth: 1200px;

// horizontal
$horizontal-boxed-page-breadcrumb-container-padding-lg: 20px 10px;
$horizontal-pagewrapper-padding-top-lg: 200px;
$horizontal-pagewrapper-padding-top-sm: 115px;
$sidebar-height: 65px;
$sidebar-li-width: 240px;
$sidebar-first-level-width: 400px;
$horizontal-list-shadow: 0 15px 30px rgb(0 0 0 / 12%);