[data-bs-theme="light"][data-color-theme="Blue_Theme"],
[data-bs-theme="dark"][data-color-theme="Blue_Theme"] {
  $primary: #00A1FF;
  $light-primary: rgba($primary, 0.1);
  $secondary: #8965E5;
  $light-secondary: rgba($secondary, 0.1);

  &:root {
    --bs-primary: #{$primary};
    --bs-primary-rgb: 0, 161, 255;
    --bs-light-primary: #{$light-primary};
    --bs-primary-bg-subtle: #{$light-primary};

    --bs-secondary: #{$secondary};
    --bs-secondary-rgb: 137, 101, 229;
    --bs-light-secondary: #{$light-secondary};
    --bs-secondary-bg-subtle: #{$light-secondary};

    .btn-primary {
      --bs-btn-bg: #{$primary};
      --bs-btn-border-color: #{$primary};
      --bs-btn-hover-bg: #0682ca;
      --bs-btn-hover-border-color: #0682ca;
    }

    .btn-secondary {
      --bs-btn-bg: #{$secondary};
      --bs-btn-border-color: #{$secondary};
      --bs-btn-hover-bg: #7c57d9;
      --bs-btn-hover-border-color: #7c57d9;
    }
  }
}
