//
// Dark Theme
//

$border-color-dark: #313e54 !default;
$body-color-dark: rgba(255, 255, 255, 0.6) !default;
$body-bg-dark: #1a2537 !default;
$link-color-dark: #ffffffd9 !default;

$primary-bg-subtle-dark: #253662 !default;
$secondary-bg-subtle-dark: #1c455d !default;
$success-bg-subtle-dark: #1b3c48 !default;
$info-bg-subtle-dark: #223662 !default;
$warning-bg-subtle-dark: #4d3a2a !default;
$danger-bg-subtle-dark: #4b313d !default;
$light-bg-subtle-dark: #2a3851 !default;
$dark-bg-subtle-dark: #172131 !default;
$bg-dark: #1d2228 !default;
$link-hover-color-dark: $primary !default;

$dropdown-dark-link-hover-bg: $primary-bg-subtle-dark !default;

//
// using css variables
//
[data-bs-theme="dark"] {
  --bs-heading-color: rgba(255, 255, 255, 0.85);
  --bs-body-color: rgba(255, 255, 255, 0.6) !important;
  --bs-card-subtitle-color: rgba(255, 255, 255, 0.6) !important;
  --bs-secondary-color: rgba(255, 255, 255, 0.6) !important;

  @import "../layouts/dark";

}