@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

// ------------------------------------
// Variables
// ------------------------------------
@import "./variables/variables";
@import "./variables/theme_variables";
@import "./variables/variables-dark"; 

// ------------------------------------
// Themecolors
// ------------------------------------
@import "./variables/variables-blue";
@import "./variables/variables-aqua";
@import "./variables/variables-purple";
@import "./variables/variables-green";
@import "./variables/variables-cyan";
@import "./variables/variables-orange";

// Import Bootstrap source files (Required file)
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

// ------------------------------------
// Layouts
// ------------------------------------
@import "./layouts/layouts";
@import "./layouts/sidebar";
@import "./layouts/header";
@import "./layouts/lp-header";
@import "./layouts/horizontal";
@import "./layouts/customizer";
@import "./layouts/spinner";

// ------------------------------------
// Components
// ------------------------------------
@import "./components/buttons";
@import "./components/cards";
@import "./components/dropdown-animation";

// ------------------------------------
// Utilities
// ------------------------------------
@import "./utilities/icon-size";
@import "./utilities/icon-hover";
@import "./utilities/background";
@import "./utilities/override";

// ------------------------------------
// RTL
// ------------------------------------
@import "./layouts/rtl"; 


// ------------------------------------
// Vendors
// ------------------------------------
@import "./vendors/simplebar";

// ------------------------------------
// Icons
// ------------------------------------
@import "../fonts/tabler-icons/tabler-icons.min.css";
@import "../fonts/crypto-icons/cryptocoins.css"; 
@import "../fonts/flag-icon-css/flag-icon.min.css";
@import "../fonts/font-awesome/css/fontawesome-all.css";
