<div
  class="brand-logo d-flex align-items-center justify-content-between justify-content-lg-center"
>
  <a href="@@webRoot/main/index.html" class="text-nowrap logo-img">
    <img src="@@webRoot/assets/images/logos/logo-icon.svg" alt="Logo" />
  </a>
  <a
    href="javascript:void(0)"
    class="sidebartoggler close-btn ms-auto text-decoration-none fs-5 d-flex d-xl-none align-items-center justify-content-center text-danger"
  >
    <i class="material-symbols-outlined fs-5">cancel</i>
  </a>
</div>
