@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/Central/**/*';
@source '../../../../resources/views/filament/central/**/*';
@source '../../../../resources/views/components/**/*';
