<div class="d-flex align-items-center justify-content-between py-3 px-7">
  <h5 class="mb-0 fs-5 fw-semibold">Inbox</h5>
  <span class="badge text-bg-warning rounded-4 px-3 py-1 lh-sm">3 new</span>
</div>
<div class="message-body" data-simplebar>
  <a
    href="javascript:void(0)"
    class="py-6 px-7 d-flex align-items-center dropdown-item"
  >
    <span class="me-3 position-relative">
      <img
        src="@@webRoot/assets/images/profile/user-6.jpg"
        alt="user"
        class="rounded-circle"
        width="45"
        height="45"
      />
      <span
        class="position-absolute top-25 start-75 translate-middle-x p-1 bg-danger border border-light rounded-circle"
      >
        <span class="visually-hidden">New alerts</span>
      </span>
    </span>
    <div class="w-75 d-inline-block v-middle">
      <div class="d-flex align-items-center justify-content-between">
        <h6 class="mb-1 fw-semibold">Michell Flintoff</h6>
        <span class="fs-2 d-block">just now</span>
      </div>
      <span class="d-block w-100 text-truncate"
        >You: Yesterdy was great...</span
      >
    </div>
  </a>
  <a
    href="javascript:void(0)"
    class="py-6 px-7 d-flex align-items-center dropdown-item"
  >
    <span class="me-3 position-relative">
      <img
        src="@@webRoot/assets/images/profile/user-2.jpg"
        alt="user"
        class="rounded-circle"
        width="45"
        height="45"
      />
      <span
        class="position-absolute top-25 start-75 translate-middle-x p-1 bg-primary border border-light rounded-circle"
      >
        <span class="visually-hidden">New alerts</span>
      </span>
    </span>
    <div class="w-75 d-inline-block v-middle">
      <div class="d-flex align-items-center justify-content-between">
        <h6 class="mb-1 fw-semibold">Bianca Anderson</h6>
        <span class="fs-2 d-block">5 mins ago</span>
      </div>

      <span class="d-block w-100 text-truncate">Nice looking dress you...</span>
    </div>
  </a>
  <a
    href="javascript:void(0)"
    class="py-6 px-7 d-flex align-items-center dropdown-item"
  >
    <span class="me-3 position-relative">
      <img
        src="@@webRoot/assets/images/profile/user-3.jpg"
        alt="user"
        class="rounded-circle"
        width="45"
        height="45"
      />
      <span
        class="position-absolute top-25 start-75 translate-middle-x p-1 bg-success border border-light rounded-circle"
      >
        <span class="visually-hidden">New alerts</span>
      </span>
    </span>
    <div class="w-75 d-inline-block v-middle">
      <div class="d-flex align-items-center justify-content-between">
        <h6 class="mb-1 fw-semibold">Andrew Johnson</h6>
        <span class="fs-2 d-block">10 mins ago</span>
      </div>
      <span class="d-block w-100 text-truncate">Sent a photo</span>
    </div>
  </a>
  <a
    href="javascript:void(0)"
    class="py-6 px-7 d-flex align-items-center dropdown-item"
  >
    <span class="me-3 position-relative">
      <img
        src="@@webRoot/assets/images/profile/user-4.jpg"
        alt="user"
        class="rounded-circle"
        width="45"
        height="45"
      />
      <span
        class="position-absolute top-25 start-75 translate-middle-x p-1 bg-warning border border-light rounded-circle"
      >
        <span class="visually-hidden">New alerts</span>
      </span>
    </span>
    <div class="w-75 d-inline-block v-middle">
      <div class="d-flex align-items-center justify-content-between">
        <h6 class="mb-1 fw-semibold">Mark Strokes</h6>
        <span class="fs-2 d-block">days ago</span>
      </div>
      <span class="d-block w-100 text-truncate">
        If I don’t like something, I’ll stay away from it.
      </span>
    </div>
  </a>
  <a
    href="javascript:void(0)"
    class="py-6 px-7 d-flex align-items-center dropdown-item"
  >
    <span class="me-3 position-relative">
      <img
        src="@@webRoot/assets/images/profile/user-5.jpg"
        alt="user"
        class="rounded-circle"
        width="45"
        height="45"
      />
      <span
        class="position-absolute top-25 start-75 translate-middle-x p-1 bg-success border border-light rounded-circle"
      >
        <span class="visually-hidden">New alerts</span>
      </span>
    </span>
    <div class="w-75 d-inline-block v-middle">
      <div class="d-flex align-items-center justify-content-between">
        <h6 class="mb-1 fw-semibold">Bianca Anderson</h6>
        <span class="fs-2 d-block">year ago</span>
      </div>
      <span class="d-block w-100 text-truncate"
        >$230 deducted from account</span
      >
    </div>
  </a>
</div>
<div class="py-6 px-7 mb-1">
  <button class="btn btn-outline-primary w-100">See All Messages</button>
</div>
