<div class="profile-dropdown position-relative" data-simplebar>
  <div class="py-3 px-7 pb-0">
    <h5 class="mb-0 fs-5 fw-semibold">User Profile</h5>
  </div>
  <div class="d-flex align-items-center py-9 mx-7 border-bottom">
    <img
      src="@@webRoot/assets/images/profile/user-1.jpg"
      class="rounded-circle"
      width="80"
      height="80"
      alt="MaterialM-img"
    />
    <div class="ms-3">
      <h5 class="mb-0 fs-4">Jonathan Deo</h5>
      <span class="mb-1 d-block">Admin</span>
      <p class="mb-0 d-flex align-items-center gap-2">
        <i class="ti ti-mail fs-4"></i> info@MaterialM.com
      </p>
    </div>
  </div>
  <div class="message-body">
    <a
      href="javascript:void(0)"
      class="py-8 px-7 mt-8 d-flex align-items-center"
    >
      <span
        class="d-flex align-items-center justify-content-center bg-primary-subtle text-primary rounded round"
      >
        <iconify-icon
          icon="solar:wallet-2-line-duotone"
          class="fs-7"
        ></iconify-icon>
      </span>
      <div class="w-75 d-inline-block v-middle ps-3">
        <h5 class="mb-1 fs-3 fw-medium">My Profile</h5>
        <span class="fs-2 d-block text-body-secondary">Account Settings</span>
      </div>
    </a>
    <a href="javascript:void(0)" class="py-8 px-7 d-flex align-items-center">
      <span
        class="d-flex align-items-center justify-content-center bg-success-subtle text-success rounded round"
      >
        <iconify-icon
          icon="solar:inbox-line-duotone"
          class="fs-7"
        ></iconify-icon>
      </span>
      <div class="w-75 d-inline-block v-middle ps-3">
        <h5 class="mb-1 fs-3 fw-medium">My Inbox</h5>
        <span class="fs-2 d-block text-body-secondary">Messages & Emails</span>
      </div>
    </a>
    <a href="javascript:void(0)" class="py-8 px-7 d-flex align-items-center">
      <span
        class="d-flex align-items-center justify-content-center bg-danger-subtle text-danger rounded round"
      >
        <iconify-icon
          icon="solar:checklist-minimalistic-line-duotone"
          class="fs-7"
        ></iconify-icon>
      </span>
      <div class="w-75 d-inline-block v-middle ps-3">
        <h5 class="mb-1 fs-3 fw-medium">My Task</h5>
        <span class="fs-2 d-block text-body-secondary"
          >To-do and Daily Tasks</span
        >
      </div>
    </a>
  </div>
  <div class="d-grid py-4 px-7 pt-8">
    <a href="javascript:void(0)" class="btn btn-primary">Log Out</a>
  </div>
</div>
